<?xml version="1.0" encoding="utf-8" ?>
<environments>
  
  <environment name="Local">
    <settings>
      <setting xPath="/configuration/connectionStrings/add[@name='SpreadBet']/@connectionString" 
               value="Server=PAUL-LAPTOP\SQLEXPRESS;Database=SpreadBet;Trusted_Connection=True;MultipleActiveResultSets=True" />
      <setting xPath="/configuration/nlog/targets/target[@name='logfile']/@fileName"
               value="C:\Drop\log.${shortdate}.txt" />
	</settings>
  </environment>
  
  <environment name="Acceptance">
    <settings>
      <setting xPath="/configuration/connectionStrings/add[@name='SpreadBet']/@connectionString" 
               value="Server=WIN-7UO907E7IB7\SQLEXPRESS;Database=SpreadBet;Trusted_Connection=True;MultipleActiveResultSets=True" />
      <setting xPath="/configuration/nlog/targets/target[@name='logfile']/@fileName"
               value="C:\Drop\log.${shortdate}.txt" />
    </settings>
  </environment>

</environments>
