<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
	  <!--<add key="defaultApplicationName" value="MigrateDatabase"/>-->
    <add key="defaultApplicationName" value="GatherPriceData" />
    <!--<add key="defaultApplicationName" value="CloseBetDecisions"/>-->
    <!--<add key="defaultApplicationName" value="GetBetDecisions"/>-->
  </appSettings>

  <connectionStrings>
    <!--<add name="SpreadBet" connectionString="Server=JPCGOODBY\JPCGOODBY;Database=SpreadBet;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <add name="SpreadBet" connectionString="Server=PAUL-LAPTOP\SQLEXPRESS;Database=SpreadBet;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>