<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SpreadBet" connectionString="Server=JPCGOODBY\JPCGOODBY;Database=SpreadBet;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container>
        <instances>
          <add name="scheduler.pollingInterval" type="System.Int32" value="30" />
        </instances>
        <!-- 
		Secify the application that will be retrieving the stock price information -->
        <register type="SpreadBet.Common.Interfaces.IExecutableApplication, SpreadBet.Common" mapTo="SpreadBet.Application.GatherPriceData, SpreadBet.Application">
          <lifetime type="singleton" />
        </register>
        <!-- 
		The compoment that will be used to gather price informaiton from the designated site. -->
        <register type="SpreadBet.Common.Interfaces.IStockPriceProvider, SpreadBet.Common" mapTo="SpreadBet.Common.Components.LiveCharts_co_uk_PriceFeed, SpreadBet.Common">
          <lifetime type="singleton" />
        </register>
        <!-- 
		The scraper is used to retrieve data from the stock web sites. -->
        <register type="SpreadBet.Common.Interfaces.IScraper, SpreadBet.Common" mapTo="SpreadBet.Common.Components.HTTPScraper, SpreadBet.Common">
          <lifetime type="singleton" />
        </register>
        <!-- 
		The stock data provider will provide the ability to get and save stock data. -->
        <register type="SpreadBet.Common.Interfaces.IStockDataProvider, SpreadBet.Common" mapTo="SpreadBet.Common.Components.StockDataProvider, SpreadBet.Common">
          <lifetime type="singleton" />
        </register>
        <!-- Entity framework repository. -->
        <register type="SpreadBet.Repository.IRepository, SpreadBet.Repository" mapTo="SpreadBet.Repository.EFRepository, SpreadBet.Repository">
          <lifetime type="singleton" />
        </register>
        <!-- Bet controller. -->
        <register type="SpreadBet.Common.Interfaces.IBetController, SpreadBet.Common" mapTo="SpreadBet.Common.Components.BetController, SpreadBet.Common">
          <lifetime type="singleton" />
        </register>

      </container>
    </containers>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>