<?xml version="1.0" encoding="utf-8" ?>
<environments>
  <environment name="Local">
    <settings>
      <setting name="DropFolder" value="C:\Drop" />
      <setting name="DatabaseBuildCommand" value="-d rebuild" />
    </settings>
  </environment>
  <environment name="Acceptance">
    <settings>
      <setting name="DropFolder" value="C:\Drop" />
      <setting name="DatabaseBuildCommand" value="-d rebuild" />
    </settings>
  </environment>
  <!--<environment name="Production">
    <settings>
      <setting name="DropFolder" value="C:\Drop" />
      <setting name="DatabaseBuildCommand" value="-d migrate" />
    </settings>
  </environment>-->
</environments>
